a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        color: inherit;
    }
}

span {
    display: inline-block;
}

body::-webkit-scrollbar {
    width: 9px;
    background-color: #212224;
}

body::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 5px;
}