@for $i from 1 through 6 {
    .mct-#{$i} {
        margin-top: #{$i}rem;
    }

    .mcs-#{$i} {
        margin-left: #{$i}rem;
    }

    .mce-#{$i} {
        margin-right: #{$i}rem;
    }

    .mcb-#{$i} {
        margin-bottom: #{$i}rem;
    }
}