$robotofont: "Roboto Condensed", sans-serif;
$poppinsfont: Poppins, sans-serif;
$cairofont: Cairo, sans-serif;
$oswaldfont: 'Oswald', sans-serif;

$primarycolor: #1C315E;
// $secondarycolor: #ff7400;
$secondarycolor: #ffb700;
$ternarycolor: #3E6D9C;
$accentcolor: #FF0032;
$softblack: #626262;
$hardblack: #222;
$backgroundcolor: rgba(219, 219, 219, 0.89);

$tabletscreen: 576px;
$mediumscreen: 768px;
$largescreen: 992px;
$xlargescreen: 1200px;
$xxlargescreen: 1400px;


$direction: rtl;