$robotofont: "Roboto Condensed", sans-serif;
$poppinsfont: Poppins, sans-serif;
$cairofont: Cairo, sans-serif;
$oswaldfont: 'Oswald', sans-serif;

$primarycolor: #1C315E;
// $secondarycolor: #ff7400;
$secondarycolor: #ffb700;
$ternarycolor: #3E6D9C;
$accentcolor: #FF0032;
$softblack: #626262;
$hardblack: #222;
$backgroundcolor: rgba(219, 219, 219, 0.89);

$breakpoints :(xs: 0,
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1300,
);

$direction: rtl;