.colorsWrapper {

    .btnColor {
        border: 1px solid #bdb4b4;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        transition: all 0.3s;

        &.activeChoose {
            border: 1px solid #000;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
    }
}