@use 'sass/var' as var;
@use 'sass/mixins/mediaquery' as *;

.categoryWrapperMenu {

    .buttonCategories {
        width: 100%;
        padding: 0.5rem 0.75rem;
        background-color: #fff;
        border: none;
        font-weight: 500;
        position: relative;
        border-radius: 0px;
        color: #000;
        display: flex;
        align-items: center;
        outline: 0px;
        box-shadow: none;
        margin-left: 10px;
        font-size: 0.9rem;

    }

    .buttonCategories:focus,
    .buttonCategories:hover {
        background-color: #fff !important;
        color: #000 !important;

    }

    .barIconWrapper {
        margin-left: 0.7rem;
        margin-top: 5px;
    }


    .barIcon {
        width: 17px;
        height: 2px;
        background-color: #888;
        display: block;
        margin-bottom: 3px;
        transition: all 0.4s;
        background-color: var(--bs-gray);
    }

    .barIconWrapper.activeButton span:first-child {
        transform: rotate(45deg) translate(1px, 5px)
    }

    .barIconWrapper.activeButton span:nth-child(2) {
        opacity: 0;
    }

    .barIconWrapper.activeButton span:last-child {
        transform: rotate(-46deg) translate(2px, -6px)
    }

    .text {
        color: var.$softblack;
        font-size: 0.85rem;
        font-weight: 600;
    }

    .listCategories {
        position: absolute;
        padding: 0px 14px;
        background-color: #fff;
        width: 100%;
        z-index: 999;
        top: 47px;
        padding-bottom: 10px;
        transform: scale(1, 0);
        transition: all 0.3s;
        transform-origin: 50% 0%;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        &.openCategoryList {
            transform: scale(1)
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 3px;
            opacity: 0;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var.$ternarycolor;
            border-radius: 8px;

        }

        .itemCategory {
            margin-bottom: 5px;
            margin-top: 5px;
            position: relative;
            display: flex;
            gap: 5px;
            align-items: center;
            flex-wrap: wrap;

        }

        .categoryLink {
            cursor: pointer;
            background-color: transparent;
            color: var.$softblack;
            font-weight: 500;
            border: none;
            padding: 0.5rem 0.2rem;
            width: 100%;
        }

        .itemCategory:not(:last-child) {
            border-bottom: 1px solid #dedede;
        }

    }

}