@use 'sass/var' as var;
@use 'sass/mixins/paragraph' as *;
@use 'sass/mixins/mediaquery' as *;

.productDetailsWrapper {
    padding: 1.1rem;

    .productName {
        color: #222;
        font-size: 1.2rem;

        a {
            width: 100%;

        }

    }

    .priceWrapper {
        gap: 7px;
        margin-top: 0.8rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
    }

    .priceWrapper .price {
        color: var(--bs-danger);
        font-size: 1.0625rem;
        font-weight: 600;
    }

    .priceWrapper .oldPrice {
        color: #918a8b;
        font-size: 0.9rem;
        font-weight: 500;
        text-decoration: line-through;
        margin-top: 2px;
    }

    .priceWrapper .discountPercentage {
        color: var(--bs-green);
        font-weight: 600;
        font-size: 13px;
        margin-top: 5px;
    }

    .shortDescription {
        @include paragraph();

        border-bottom: 1px solid #dedede;
        padding-bottom: 1rem;
    }

    .listDetails {
        padding: 0px 0px 10px;
        margin-top: 0.5rem;
        border-bottom: 1px solid #e3e3e3;
    }

    .listDetails .item {
        margin-bottom: 1rem;
        color: var.$softblack;
        font-weight: 500;
        font-size: 0.9rem;
    }

    .listDetails .item span:first-child {
        width: 50px;
    }

    .listDetails .item a {
        color: var(--bs-primary);
        margin-right: 5px;
        font-weight: 600;
    }


    .productVariantsWrapper {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid #dedede;

    }

    .productVariantsWrapper .labelText {
        color: var.$softblack;
        margin-left: 14px;
        font-weight: 500;
        font-size: 0.9rem;
    }

    .productVariantsWrapper .variants {
        margin-top: 0.8rem;
    }

    .variants .sizeVariant {
        font-size: 0.9rem;
        padding: 5px;
        min-width: 45px;

    }

    .option {
        padding: 5px 15px;
        color: #383838;
        font-weight: 600;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        &:hover {
            background: #e6e6e6;
        }
    }

    .addCartDetails {
        margin-top: 1rem;
    }

    .addCartbtn {
        background: var.$secondarycolor;
        color: #000;
        border: none;
        height: 37px;
        width: 100%;
        margin-right: 12px;
        font-size: 15px;
        border-radius: 2px;
        font-size: 0.8rem;
        font-weight: 500;

        &:hover {
            color: #fff;
            background-color: #db002b;
        }
    }

    .buyNow {
        background-color: #f00;
        color: #fff;
        border: none;
        padding: 5px 1.5rem;
        margin-right: 1.2rem;
        font-size: 0.8rem;
        border-radius: 2px;

        &:hover {
            background-color: #d50b0b;
        }
    }

    .iconLoading {
        color: var.$secondarycolor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .addFavouritebtn {
        color: var.$softblack;
        background-color: transparent;
        border: 1px solid #ccc;
        box-shadow: none;

        &:hover {
            background: var.$secondarycolor;
            color: #fff;
            border: 1px solid transparent
        }
    }


}