@use 'sass/var' as var;

.sidebarWrapper {
    margin-top: 2rem;
    padding: 1.5rem 1rem;
    margin-left: 1.1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    background-color: #fff;
    position: relative;

    .loadingIcon {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: var.$secondarycolor;
    }

    .priceFilter {
        border-bottom: 1px solid #dedede;
        padding-bottom: 0.7rem;
    }

    .clearFilter {
        background-color: transparent;
        color: var(--bs-danger);
        border: none;

    }

    .title {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 0.9rem
    }

    .filter {
        margin-top: 1rem;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid #dedede;
        max-height: 250px;
        overflow: auto;

        &::-webkit-scrollbar {
            opacity: 0
        }

    }

    .filterItem {
        margin-bottom: 0.4rem;
        margin-top: 0.7rem;
        color: #767373;
    }

    .checkBox {
        width: 17px;
        height: 17px;
        border: 1px solid #dedede;
    }

    .categories {
        position: relative;
    }

    .applyFilterBtn {
        background-color: var.$secondarycolor;
        color: #000;
        border: 0px;
        border-radius: 0px;
        margin-top: 1rem;
        font-size: 0.9rem;

        &:hover,
        &:focus {
            background-color: #efad06;
            color: #000;
        }

    }


}