@use 'sass/var' as var;

.sidebarWrapper {
    margin-top: 1rem;
    padding: 1.5rem;
    margin-left: 1.1rem;
    background: #fafafa;
    border-left: 1px solid #dedede;

    .priceFilter {
        border-bottom: 1px solid #dedede;
        padding-bottom: 0.3rem;
    }

    .title {
        color: #222;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1.1rem;
    }

    .filter {
        margin-top: 1rem;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid #dedede;
        max-height: 250px;
        overflow: auto;
    }

    .tags {
        margin-top: 1rem;
    }

}