@use 'sass/var' as var;

.productViewWrapper {

    position: relative;

    .presentationImage {
        position: relative;
        width: 100%;
        height: 500px;
        background: #f3f3f3;
        border: 1px solid #e9e9e9;
    }

    .thumbnailsImageWrapper {
        margin-top: 1.1rem;
    }

    .thumbnailsImageWrapper .imageThumbnail {
        height: 80px;
        width: calc(100% / 4);
        border: 1px solid #dfdfdf;
        cursor: pointer;
        padding: 3px;
        position: relative;
        opacity: 0.5;
        transition: all 0.3s;
        background: #f3f3f3;

        &:not(:last-child) {
            margin-left: 1%;
        }

        &.active {
            border-bottom: 2px solid var.$secondarycolor;
            opacity: 1;
        }
    }
}