@use 'sass/var' as var;
@use 'sass/mixins/mediaquery' as *;

.sectionLayout {
    margin-top: 1.8rem;
    position: relative;

    .title {
        font-weight: 600;
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
        position: relative;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #e1e1e1;

        @include minmediaquery('sm') {
            font-size: 1.4rem;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0px;
            bottom: -1px;
            background: var.$secondarycolor;
            width: 135px;
            height: 2px;
        }

    }

    .arrowWrapper {
        position: absolute;
        left: 18px;
        top: 0px;
        z-index: 1;
        gap: 12px;
        line-height: 35px;

        .arrow {
            border: 1px solid #e6e6e6;
            border-radius: 50%;
            text-align: center;
            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: all 0.3s;
            color: #8c8c8c;

            .arrowIcon {
                margin-top: -7px;
            }

            &:hover {
                background-color: var.$secondarycolor;
                color: #fff;
                border: 1px solid var.$secondarycolor;
            }

        }

    }
}