@use 'sass/var' as var;

.item {
    margin-bottom: 5px;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(237 237 237);

    .productImage {
        display: block;
        position: relative;
        margin-top: 3px;

    }

    .productDetails {
        margin-right: 14px;
    }

    .productName {
        color: var(--bs-primary);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .productPriceWraper {
        color: #f00;
        font-family: var.$cairofont;
        margin-top: 0.2rem;
        font-size: 0.9rem;

    }

    .productPriceWraper .price {
        font-family: var.$oswaldfont;
    }

    .productPriceWraper .currency {
        margin-right: 5px;
    }

    .productPriceWraper .quantity {
        margin-right: 1rem;
        color: #000;
    }

    .productQuantity {
        margin-top: 1rem;
    }

}