@use "sass/var" as var;
@use 'sass/mixins/animationbutton' as *;
@use 'sass/mixins/mediaquery' as *;

.offerWrapper {
    margin-top: 3.5rem;

    .banner {
        width: 100%;
        height: 300px;
        background-size: cover;
        position: relative;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include minmediaquery('lg') {
            text-align: right;
        }
    }

    .banner.firstBanner {
        background-image: url('/images/offer/img1.jpg');
    }

    .banner.secondBanner {
        background-image: url('/images/offer/img2.jpg');
    }

    .intro {

        @include minmediaquery('lg') {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
        }


    }

    .intro .title {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .intro .description {
        color: var.$softblack;
        font-weight: 600;
    }

    .intro .offer {
        color: var.$accentcolor;
        font-weight: bold;
        font-family: var.$oswaldfont;
    }

    .intro .shopNow {
        margin: auto;
        width: 155px;
        height: 42px;
        position: relative;
        isolation: isolate;
        border: none;
        border-radius: 0px;
        background: var.$secondarycolor;
        color: #000;
        font-weight: 600;
        display: block;
        text-align: center;
        line-height: 42px;
        @include animationbutton(var.$accentcolor);

        @include minmediaquery('lg') {
            margin-right: 0px;

        }

        .text {
            transition: all 0.3s;
        }

        &:hover .text {
            color: #fff;
        }
    }

}