@use 'sass/var' as var;

.services {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: #fff;
    }

    .serviceIcon {
        color: var.$secondarycolor;
        font-size: 3rem;
        margin-left: 10px;
    }

    .title {
        color: var.$hardblack;
        font-weight: 700;
        margin: 6px 0px 0px;
    }

    .description {
        color: var.$softblack;
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: 5px
    }
}