@use 'sass/var' as var;

.productCard {
    position: relative;
    background-color: #fff;
    overflow: hidden;

    transition: all 0.4s;
    border: 1px solid rgb(199 199 199 / 31%);
    border-radius: 4px;

    &:hover .productCardImage {
        transform: scale(1.025);
    }

    .productDiscount {
        position: absolute;
        right: 10px;
        top: 10px;
        background: var.$accentcolor;
        color: #fff;
        width: 38px;
        padding: 2px 0px;
        text-align: center;
        font-size: 12px;
        z-index: 1;
        font-weight: 500;
        font-family: var.$oswaldfont;
        height: 24px;
        line-height: 19px;
    }

    .productAction {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;

        .favourite {
            color: var.$softblack;
            padding: 4px 6px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
                color: var.$accentcolor;
            }
        }

    }

    .productCardImageWrapper {
        position: relative;
        overflow: hidden;
        text-align: center;
        transition: all 0.5s;
        height: 270px;
        padding-top: 2.5rem;
        background-color: #f8f8f8;

        .productCardImage {
            cursor: pointer;
            user-select: none;
            transition: all 0.6s ease-in-out;

        }

    }

    .productRatingWrapper {
        color: #fec348;
        margin-top: 9px;

        .productRating {
            font-size: 18px;
        }
    }

    .productName {
        color: #202020;
        font-weight: 400;
        margin-top: 7px;
        margin-bottom: 0px;
        font-family: var.$oswaldfont;
    }

    .productDescription {
        color: #767373;
        font-size: 0.9rem;
        margin-top: 4px;
        margin-bottom: 3px;
        font-weight: 500;
        max-width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: auto;
    }

    .productPrice {
        color: var.$accentcolor;
        font-size: 1.125rem;
        font-weight: 600;
        margin: 0px 5px;
        font-family: var.$oswaldfont;
    }

    .oldPrice {
        font-weight: 600;
        color: #888;
        position: relative;
        font-size: 12px;
        margin-top: 5px;
        text-decoration: line-through;
        font-family: var.$oswaldfont;
    }

    .addProduct {

        width: 75%;
        // padding: 7px;
        margin: 20px auto;
        background-color: var(--bs-primary);
        color: #fff;
        box-shadow: none !important;
        border: none;
        border-radius: 0px;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        border-radius: 4px;
        position: relative;
        height: 38px;
        overflow: hidden;

        .contentWrapper {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
        }

        &::after {
            content: '';
            position: absolute;
            left: -2px;
            top: 0px;
            width: 0px;
            height: 100%;
            background-color: var.$secondarycolor;
            color: #fff;
            transition: all 0.3s;
            border-radius: 4px;
            border: 1px solid var.$secondarycolor;

        }

        &:hover::after {
            width: 102%
        }

        .text {
            margin-left: 5px;
            display: inline;
            vertical-align: middle;
        }


    }
}