@use 'sass/var' as var;
@use 'sass/mixins/mediaquery' as *;

.productCard {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.4s;
    border-radius: 4px;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);


    &:hover {
        // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    }

    &:hover .productCard {
        transform: scale(1.025);
    }

    .productDiscount {
        position: absolute;
        right: 10px;
        top: 10px;
        background: var.$accentcolor;
        color: #fff;
        width: 38px;
        padding: 2px 0px;
        text-align: center;
        font-size: 12px;
        z-index: 1;
        font-weight: 500;
        font-family: var.$oswaldfont;
        height: 24px;
        line-height: 19px;
    }

    .productAction {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
    }

    .productAction .favourite {
        color: #c3c3c3;
        padding: 4px 6px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            color: var.$accentcolor;
        }
    }


    .productCardImageWrapper {
        position: relative;
        overflow: hidden;
        text-align: center;
        transition: all 0.5s;
        height: 232px;

        @include maxmediaquery("sm") {
            height: 180px;
        }

        .productCardImage {
            cursor: pointer;
            user-select: none;
            transition: all 0.6s ease-in-out;

        }

    }

    .productRatingWrapper {
        color: #fec348;

        .productRating {
            font-size: 18px;
        }
    }

    .productName {
        color: var.$primarycolor;
        font-weight: 500;
        margin-top: 7px;
        margin-bottom: 0px;
        font-family: var.$cairofont;
        max-width: 97%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .productPrice {
        color: #f00;
        font-weight: bold;
        margin: 0px 5px;
        font-family: var.$oswaldfont;

        .currency {
            font-family: var.$cairofont;
            font-weight: bold;
        }
    }

    .oldPrice {
        font-weight: 600;
        color: #888;
        position: relative;
        font-size: 12px;
        margin-top: 5px;
        text-decoration: line-through;
        font-family: var.$oswaldfont;
    }

    .addProduct {
        width: 98%;
        max-width: 170px;
        margin: 20px auto 0px;
        background-color: var(--bs-primary);
        color: #fff;
        box-shadow: none !important;
        border: none;
        border-radius: 0px;
        font-size: 0.8rem;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        border-radius: 4px;
        position: relative;
        height: 38px;
        overflow: hidden;

        @include maxmediaquery('sm') {
            font-size: 0.7rem;
        }

        .contentWrapper {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        &::after {
            content: '';
            position: absolute;
            left: -2px;
            top: 0px;
            width: 0px;
            height: 100%;
            background-color: var.$secondarycolor;
            transition: all 0.3s;
            border-radius: 4px;
            border: 1px solid var.$secondarycolor;

        }

        &:hover::after {
            width: 102%
        }

        &:hover .text {
            color: #000;
        }

        .text {
            margin-left: 5px;
            display: inline;
            vertical-align: middle;
            transition: all 0.3s;
        }


    }
}