@use 'sass/var' as var;


.listWrapper {
    position: fixed;
    background-color: #fff;
    top: 0px;
    height: 100vh;
    z-index: 10;
    width: 362px;
    padding: 1.3rem 1.4rem;
    left: -362px;
    transition: all 0.3s;
    box-shadow: 0px 5px 17px rgb(0 0 0 / 19%);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: #000;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #484848;
        width: 50%;
        border-radius: 6px;
    }

    &.openCartList {
        left: 0px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
    }

    .title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
    }

    .closeIcon {
        cursor: pointer;

        &:hover {
            color: var(--bs-danger);
        }
    }

    .cartList {
        padding: 15px 0px;
        overflow: hidden;
    }

    .item {
        margin-bottom: 5px;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ddd;
    }

    .productImage {
        width: 50px;
        height: 50px;
        display: block;
        position: relative;
        margin-top: 3px;
        max-width: 20%;
        user-select: none;
    }

    .productDetails {
        max-width: 78%;
        margin-right: 14px;
    }

    .productName {
        color: #000000;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
    }


    .productPrice {
        color: #f00;
        font-family: var.$oswaldfont;
        margin-top: 0.2rem;
        font-size: 0.9rem;
        font-weight: 500;

    }

    .productPrice .currency {
        margin-right: 5px;
    }

    .productPrice .quantity {
        margin-right: 1rem;
        color: #000;
        font-weight: 500;
    }

    .productQuantity {
        margin-top: 1rem;
    }

    .btnDelete {
        background-color: transparent;
        border: none;
        height: 30px;
        color: var.$hardblack;
        margin-right: 1rem;

        &:hover,
        &:focus {
            color: var.$accentcolor;
            background-color: transparent;
        }
    }

    .footer {
        margin-top: 0.5rem;
    }

    .cost {
        color: #000;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }

    .totalPrice {
        font-family: var.$poppinsfont;
    }

    .currency {
        font-family: var.$cairofont
    }

    .checkoutWrapper {
        margin-top: 1rem;
    }

    .checkoutWrapper .btn {
        background-color: var.$secondarycolor;
        padding: 8px;
        margin-left: 10px;
        width: 50%;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        transition: all 0.3s;
        color: #000;
        font-weight: 600;

        &:hover {
            background-color: #e1002c;
            color: #fff;
        }
    }


}