@use 'sass/mixins/overlay' as *;
@use 'sass/mixins/mediaquery' as *;
@use 'sass/mixins/paragraph' as *;
@use 'sass/var' as var;

.carouselWrapper {
    position: relative;
    transition: all 1s;
    height: 680px;
    @include overlay(#000, 0.5);

    .intro {
        position: absolute;
        z-index: 99;
        top: 50%;
        transform: translate(50%, -50%);
        right: 50%;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        width: 98%;

        @include mediaquery(var.$mediumscreen) {
            text-align: right;
            padding: 0px;
            right: 30px;
            top: 24%;
            transform: none;

        }

        .title {
            color: #fff;
            font-weight: bold;
            font-size: 1.7rem;

            .discount {
                color: #f00;
            }

            @include mediaquery(var.$tabletscreen) {
                font-size: 2.7rem;
            }

            @include mediaquery(var.$mediumscreen) {
                font-size: 3.5rem;
            }
        }

        .description {

            @include paragraph(#cfcfcf);
            font-size: 1rem;

            @include mediaquery(var.$mediumscreen) {
                max-width: 640px;
                font-size: 1.1rem
            }
        }

        .buttonShopNow {
            background-color: var.$secondarycolor;
            border: none;
            padding: 9px 0px;
            width: 200px;
            font-size: 1.3rem;
            color: #000;
            margin-top: 1rem;
            position: relative;
            isolation: isolate;
            border-radius: 0px;

            @include mediaquery(var.$tabletscreen) {
                padding: 15px 0px;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: -1;
                height: 100%;
                width: 100%;
                background-image: linear-gradient(120deg, transparent 50%, var.$accentcolor 50%);
                background-size: 220%;
                transition: all 0.3s;

            }

            &:hover::after {
                background-position: 100%;
            }

        }

        .buttonShopNow .text {
            position: relative;
            z-index: 2;
            transition: all 0.3s;
            font-size: 1.2rem;
            font-weight: 600;

            @include mediaquery(var.$tabletscreen) {
                font-size: 1.4rem;
            }
        }

        .buttonShopNow:hover .text {
            color: #fff;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .image {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

}