@use 'sass/var' as var;

.sizesWrapper {

    .btnSize {
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        min-width: 50px;
        background-color: #fff;
        color: var.$softblack;
        transition: all 0.3s;

        &.activeChoose {
            background: #f7f7f7;
            border: 1px solid #000;
        }

    }
}