@use 'sass/var' as var;
@use 'sass/mixins/mediaquery' as *;

.cartListWrapper {
    border: 1px solid #dedede;
    border-radius: 5px;

    .header {
        border-bottom: 1px solid #dedede;
        padding: 0.85rem 1rem;
        margin-bottom: 5px;
        background-color: #fafafa;
    }

    .title {
        color: #000;
        font-weight: 500;
        margin: 0px;
        font-size: 1.1rem;
    }

    .list {
        padding: 0px;
    }

    .cartListBody {
        margin-top: 1rem;
        padding: 0.5rem 1rem 0.95rem;

        &:not(:last-child) {
            border-bottom: 1px solid #dedede;
        }
    }

    .listItem {
        margin-bottom: 0.7rem;
    }

    .listItem span:first-child {
        color: var.$hardblack;
        font-weight: 600;
        margin-left: 7px;
    }

    .listItem span:last-child {
        color: var.$softblack;
        font-weight: 500;

    }

    .productImageWraper {
        background-color: #f8f8f8;
        margin-left: 0.7rem;
        width: 140px;
        height: 120px;
    }

    .productControl {
        width: 100%;
        gap: 5px;
        margin-top: 1rem;
    }

    .deleteProduct {
        cursor: pointer;
        color: var.$softblack;
        transition: all 0.3s;
        margin-right: 1rem;

        &:hover {
            color: var(--bs-danger);
        }
    }

}