@use "sass/var" as var;

.menuWrapper {
    background-color: var.$secondarycolor;
    padding: 7px;

    .listMenu {
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;

    }

    .listMenu>.item {
        color: #000;
        font-family: var.$cairofont;
        margin-left: 2rem;
        transition: all 0.3s;
        padding: 1rem 0px;
        font-weight: 600;

        >&:hover {
            color: #fff;

        }
    }

    .categoryWrapper {
        width: 260px;
        position: relative;
        margin-left: 10px;

    }

    .buttonCategories {
        background-color: #fff;
        border: none;
        padding: 10px 17px;
        font-weight: 600;
        position: relative;
        width: 95%;
        border-radius: 0px;
        font-weight: bold;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        outline: 0px;
        box-shadow: none;
        margin-left: 10px;

        &:focus,
        &:hover {
            background-color: #fff;
            color: var.$softblack;

        }

        .barIconWrapper {
            margin-right: 22px;
            margin-top: 6px;

            .barIcon {
                width: 25px;
                height: 2px;
                background-color: #888;
                display: block;
                margin-bottom: 5px;
            }
        }

    }

    .listCategories {
        position: absolute;
        box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
        padding: 0px;
        background-color: #fff;
        width: 95%;
        z-index: 999;
        top: 49px;
        border: 1px solid #ccc;
        padding-bottom: 10px;
        transform: scale(1, 0);
        transition: all 0.3s;
        transform-origin: 50% 0%;
        max-height: 70vh;
        overflow: auto;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var.$ternarycolor;
            border-radius: 5px;
        }

        .item {
            color: var.$hardblack;
            font-weight: bold;

            .collapseButton {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                padding: 10px 15px 0px;
                background-color: transparent;
                color: var.$hardblack;
                font-weight: bold;
                border: none;
                width: 100%;
            }

            .subCategoriesIcon {
                color: var.$softblack;
                transition: all 0.3s;
            }

        }

        &.openCategoryList {
            transform: scale(1)
        }

    }

    .listSubCategories {
        color: #000;
        padding: 0px;
        padding-right: 30px;
        position: relative;
        margin-top: 8px;
        transition: all 0.3s;
        height: 0px;
        overflow: hidden;


        &::after {
            content: "";
            position: absolute;
            right: 0px;
            height: 100%;
            width: 2px;
            background-color: var.$primarycolor;
            top: 0px;
            right: 20px;
        }

        .subcategoryItem {
            color: var.$softblack;
            margin-bottom: 5px;

            a {
                color: #727272;
                font-size: 0.9rem;
                padding: 0px;
                width: 100%;

                &:hover {
                    background: none !important;
                    color: #000;
                }

            }


        }
    }

}