@use "sass/var" as var;
@use "sass/mixins/mediaquery" as *;

.menuWrapper {
    background-color: var.$secondarycolor;
    padding: 10px;
    top: -86px;
    transition: all 0.5s;

    &.fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 9;
        padding: 10px
    }

    .categoryWrapper {
        width: 260px;
        position: relative;
        margin-left: 10px;
    }

    .listMenu {
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -250px;
        top: 0px;
        width: 250px;
        height: 100vh;
        background: #fff;
        z-index: 20;
        padding-right: 10px;
        transition: all 0.3s;

        &.openMenuMobile {
            right: 0px;

        }

        .iconMenuMobileCloseWrapper {
            position: absolute;
            left: 10px;
            top: 5px;
            color: var(--bs-danger);
            cursor: pointer;

            @include minmediaquery('lg') {
                display: none;
            }
        }

        @include minmediaquery('lg') {
            display: flex;
            align-items: center;
            position: static;
            height: auto;
            background-color: transparent;
            width: auto;
        }
    }

    .listMenu>.item {
        color: #000;
        font-family: var.$cairofont;
        margin-left: 2rem;
        transition: all 0.3s;
        padding: 1rem 0px;
        font-weight: 600;

        >&:hover {
            color: var.$secondarycolor;

            @include minmediaquery('lg') {
                color: #fff;
            }

        }
    }

    .cartListBtn {
        position: relative;
        background: transparent;
        color: var.$hardblack;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
            background: transparent !important;
            color: #000;
        }
    }

    .cartListBtn .cartCount {
        position: absolute;
        right: 28px;
        top: 0px;
        background-color: #FF0032;
        color: #fff;
        border-radius: 50%;
        width: 17px;
        text-align: center;
        height: 17px;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
    }

    .iconMobileWrapper {

        width: 40px;
        height: 33px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        color: #505050;
        border-radius: 5px;
        margin-right: auto;

        @include minmediaquery('lg') {
            display: none;
        }
    }
}