@use 'sass/var' as var;

.productQuantity {
    height: 40px;

    .quantity {
        background: transparent;
        border: 1px solid #ccc;
        color: var.$softblack;
        width: 40px;
        height: 100%;
        text-align: center;
        padding: 0px;
        user-select: none;
        transition: all 0.2s;
        border-radius: 0px;

        &:hover {
            box-shadow: none;
            background: var.$secondarycolor;
            color: #fff;
            border: 1px solid var.$secondarycolor;
        }
    }

    .content {
        width: 42px;
        height: 100%;
        color: var.$softblack;
        text-align: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-weight: 500;
        font-family: var.$poppinsfont;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        position: relative;
        font-size: 14px;

        .quantityContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .iconLoading {
        color: var.$secondarycolor;
        position: absolute;
        top: 6px;
        left: 35%;

    }
}